<table>
  <caption>Array of products</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% if error %}
    <tr>
      <td>{{ error }}</td>
    </tr>
    {% elif products %}
    {% for product in products %}
    <tr>
      <td>{{ product['name'] }}</td>
      <td>{{ product['category'] }}</td>
      <td>{{ product['price'] }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td>No products found</td>
    </tr>
    {% endif %}
  </tbody>
</table>